<div class="main">
	<h2></h2>
<div id="page">
       <div class="contributor" id="<%= product.get('name')%>" style="width:<%= product.get('picWidth')%>; height: <%= product.get('picWidth')%>">
          <ul>
            <li class="pic" style="width:<%= product.get('picWidth')%>; height: <%= product.get('picWidth')%>">
              <p>
                <a href="/product?productid=<%=product.get('id')%>">
                  <img src="https://dummyimage.com/<%= category.get('picWidth')%>x<%= product.get('picWidth')%>/688f43/ffffff&text=<%=product.get('name')%>" />
                </a>
              </p>
            </li>
            <li class="username" style="width:<%= product.get('picWidth')%>;">
                <p><%=product.get('details')%></p>
            </li>

          </ul>
        </div>
  </div>
</div>
<div class="sidebar"></div>
